body
{
    margin: 0;
    padding: 0;
    background-image: url(8.png);
    background-position: center;
    background-size: contain;
    
}
.logo1 {
    background: #;
    width: 200px;
}
#logo111 {
    position: absolute;
    height: 28px;
    width: 28px;
    top: 50px;
    left: 70px;
}
img {
    height: 100px;
    width: 100px;
    transform: translate(50%, 20%);

}
#commlogo {
    position: absolute;
    top: 0px;
    left: 350px;
    transform: translate(50%,-10%);
    height: 180px;
    width: 600px;
}

#college {
    font-family: sans-serif;
    color: darkblue;
    font-size: 100px;
    position: absolute;
    top: 0px;
    transform: translate(10%,-60%);
    left: 180px;
    font-size-adjust: 150px;
}
.post
{
    width: 1450px;
    height: 650px;
    background: #;
    border: 2px solid #062f79;
    position: absolute;
    top: 220px;
    left: 40px;
}
#heading
{
    text-align: center;
    font-size: 40px;
    font-family: fantasy;
}
#desc{
    position: absolute;
    left: 50px;
    padding: 8px;
    box-sizing: border-box;
    margin: 8px 0;
    border: 2px solid black;
    border-radius: 20px;
    width: 1350px;
    height: 400px;
    font-size: 30px;
    color: white;
    background: black;
}
#desc:focus{
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 black;
}
#uimg
{
    position: absolute;
    top: 550px;
    left: 500px;
    border: 2px solid black;
    padding: 4px;
    font-family: cursive;
    color: aliceblue;
    background: black;
    width: 300px;
    text-align: center;
    
}
#uimg:hover
{
    background: grey;
}
#uimg2
{
    position: absolute;
    top: 550px;
    left: 1300px;
    border: 2px solid black;
    padding: 4px;
    font-family: cursive;
    color: aliceblue;
    background: black;
}
#uimg2:hover
{
    background: grey;
}
#select
{
    position: absolute;
    top: 570px;
    left: 200px;
    border: 2px solid black;
    padding: 4px;
    font-family: cursive;
    color: aliceblue;
    background: black;
    width: 250px;
    text-align: center;
}
#select:hover
{
    background: grey;
}
#submit
{
    border-radius: 4px;
    color: white;
    background: black;
}























/*<input type="text" name="" placeholder="Add description" id=" textbox">*/